.cards {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.chart {
    /* display: flex; */
    /* justify-content: space-around; */
    height: 50%;
    width: 50%;
    margin: 5rem;
}